{% extends "base.html" %}

{% block title %}Home | CISL SLAs{% endblock %}
{% block og_title %}Home | CISL SLAs{% endblock %}

{% block content %}
<div class="hero-section">
    <div class="hero-overlay">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 mx-auto text-center">
                    <h1 class="hero-title">CISL Flask Template</h1>
                    <p class="hero-description">
                        A template built on Flask for CISL Websites. This maintains a similar look and feel to the <a href="cisl.ucar.edu">cisl.ucar.edu</a> homepage
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}